@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100vh;
}

.img-logo {
    height: 40px;
}

.hero-section {
    background-position: center;
    background-size: cover;
}

.hero-overlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.hero-title h1 {
    line-height: 150%;
}

.hero-title h2 {
    font-family: "Simple Joys", sans-serif;
    mix-blend-mode: screen;
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 1em #fff;
}

::-webkit-scrollbar {
    display: none;
}